*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body{
    background-color: yellowgreen;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html{
    font-size: 10px;
}

.container{
    background: white;
    width: 100vw;
    margin: 0rem auto;
    border-radius: 2px;
    background-color: rgb(17, 39, 165);

}

.photo{
    /* margin-left: 100px; */
    width: 60%;
}

.player{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 400px;
}

.strip{
    padding: 20px;
}

.strip img{
    width: 200px;
    overflow-x: scroll;
    background: white;
    padding: 0.8rem 0.8rem 2.5rem 0.8rem;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    /* paadin */
}

.strip a:nth-child(5n+1) img { transform: rotate(10deg); }
.strip a:nth-child(5n+2) img { transform: rotate(-2deg); }
.strip a:nth-child(5n+3) img { transform: rotate(8deg); }
.strip a:nth-child(5n+4) img { transform: rotate(-11deg); }
.strip a:nth-child(5n+5) img { transform: rotate(12deg); }

.controls{
    position: absolute;
    top: 55%;
    right: 5%;
    background-color: khaki;
}

.controls>*{
    margin: 0 10px;
    padding: 15px;
    font-size: 1.2rem;
    font-weight: 200;
}

button{
    position: absolute;
    padding: 10px;
    border-radius: 10px;
    background-color: khaki;
    top: 70%;
    right: 20%;
}